*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
    Inspired Color Scheme from: 
    https://visme.co/blog/website-color-schemes/
*/

$dark-primary: #0b0c10;
$dark-secondary: #1f2833;
$neutral-color: #c5c6c7;
$text-primary: #66fcf1;
$text-secondary: #45a29e;
$polar-primary: #ed553b;
$polar-secondary: #f6d55c;

$polar-evening: #ff9912;
$polar-sunflower: #ffd700;
$polar-autumn: #ff6103;

$color-white: #fff;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

// Place holder text - for inputs
::placeholder {
  color: $polar-autumn;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $polar-autumn;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $polar-autumn;
}

// Place holder text for - textarea
textarea::-webkit-input-placeholder {
  color: $polar-autumn;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: $polar-autumn;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: $polar-autumn;
}

textarea:-ms-input-placeholder {
  color: $polar-autumn;
}

textarea::placeholder {
  color: $polar-autumn;
}

/* 
    NAV and Logo Name section 
*/

.half-break {
  border: dotted $text-primary 0.5rem;
  border-bottom: none;
  width: 4%;
  margin: 2rem auto;
}

.main-name {
  letter-spacing: 4px;
  font-size: 1.5rem;
  cursor: pointer;

  a {
    text-decoration: none;
    color: $text-primary;
  }
}

// Old Nav
nav {
  z-index: 10;
  // padding: 2rem;
  // width: 100%;
  min-height: 14vh;
  background-color: $dark-primary;
  overflow-x: hidden;

  display: flex;
  justify-content: space-evenly;

  align-items: center;

  // Easier for now to nest nav than use classes
  ul {
    display: flex;
    justify-content: space-around;
    min-width: 45%;

    li {
      list-style-type: none;
    }

    li a {
      color: $text-primary;
      text-decoration: none;
      letter-spacing: 2px;
      font-weight: bold;
      font-size: 1.2rem;
    }

    li a:hover {
      padding-bottom: 0.5rem;
      border-bottom: 4px solid $text-primary;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/*
    Media Breakpoint for NAV
*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    /*
        This will hide the nav bar after we have moved it left 
        and users simply won't be able to simply scroll on the x axis 
        */
  }

  .main-name {
    display: none;
  }

  .nav {
    z-index: 100;
    background: $dark-primary;
    color: $text-primary;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }

  .nav__list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    list-style: none;
  }

  .nav__link {
    color: $text-primary;
    text-decoration: none;

    font-weight: 700;
    font-size: 3rem;

    &:hover {
      color: $polar-evening;
    }
  }

  // Toggle the Navbar
  .nav-toggle {
    padding: 1rem 1rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
  }

  // Navbar Transition
  .nav-open .nav {
    transform: translateX(0);
  }

  .nav-open .nav-toggle {
    position: fixed;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-8.5px);
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }

  // Ham Burger
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: $text-primary;
    width: 2rem;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 9px;
  }
  .hamburger::after {
    bottom: 9px;
  }
}

.mainHeader {
  display: flex;
  justify-content: flex-start;
  padding: 4rem 2rem 1rem;

  color: $text-primary;
  background-color: $dark-secondary;

  h1 {
    border-bottom: 5px solid $text-primary;
    padding-bottom: 1rem;
    margin-left: 2.5rem;
  }
}

footer {
  padding: 0.4rem 0;
  color: $text-primary;
  background-color: $dark-secondary;
}
