// Styles the top container - including the big profile shot and the background image
.top-container--index {
  display: flex;
  justify-content: center;
  align-items: center;
  // Photo from free non-commercial use www.unsplash.com
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("https://images.unsplash.com/photo-1545405197-2964efafb2c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");

  min-height: 90vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// This container makes it so the background images stays in the background!
.text-container {
  color: $text-primary;

  .text-box {
    padding-top: 2rem;

    h3 {
      font-size: 3rem;
      padding-bottom: 1rem;
    }
  }
}

.big-container {
  width: 28rem;
  height: 25rem;
  // position: relative;
  // This is the single line of code caused trouble for 2 weeks,
  // Enable this code and the navbar is behind the image in mobile view. Why?

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
}

// This is the parent container of the three images and texts
.middle-container {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;

  // margin: 4rem;
  height: 85vh;
  width: 100%;

  background-color: #fff;
}

.middle-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Index H1 and p tags */
.indexSubheading {
  padding: 0.9rem 0;
}

.indexParagraph {
  line-height: 1.9rem;
}

// Styles the last two png photos.
.index-imageController {
  border-radius: 50%;
}

.index-imageController img {
  min-width: 100%;
  min-height: 100%;
}

// Styling for specific DESK image - jpeg and png don't act the same for some reason.
.indexItem__imageController {
  max-width: 16rem;
  margin: 0 2rem;
}

.indexItem__imageController--override {
  max-width: 22rem;
  margin: 0rem 2rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 4px;
}

.indexItem__imageController img {
  min-width: 100%;
  min-height: 100%;
}

// These three blocks of code are same but they give control for modifying each specific item.
// Good to have for future use, will not take away just yet.

.middle-container__itemBox:nth-child(1) {
  padding: 3rem 0;
  justify-content: space-between;
}

.middle-container__itemBox:nth-child(2) {
  padding: 2rem 0;
  justify-content: space-between;
}

/* MEDIA QUERIES */

// Index Middle Container first breakpoint
@media only screen and (max-width: 1060px) {
  .middle-container {
    flex-wrap: wrap;
  }

  .middle-container__itemBox--textBox:nth-child(1) {
    padding: 2rem;
  }
}

// Tablet breakpoint
@media only screen and (max-width: 768px) {
  .index-imageController {
    max-height: 20rem;
    max-width: 20rem;
    margin: 2rem 0;
  }

  .middle-container {
    padding-top: 0;
  }

  // flip the order of the column os the image is on the top.
  .flip {
    order: 1;
  }

  .indexItem__imageController--override {
    margin: 0rem 2rem;
  }
}

// Phone breakpoint
@media only screen and (max-width: 480px) {
  .index-imageController {
    max-height: 18rem;
    max-width: 20rem;
    margin: 2rem 0;
  }
}
