// Styling for the page background
.top-container--skills {
    background-color: $dark-secondary;
}

// Styles the Resume Container and its effects
.resume-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    background-color: $dark-secondary;

    a {
        font-size: 1.8rem;
        text-decoration: none;
        font-weight: 900;
        color: $text-primary;
    }

    a:hover {
        padding-bottom: .4rem;
        color: $polar-autumn;
        transform: scale(1.3);
        border-bottom: .5rem solid $polar-autumn;
    }
}

// Styles the ROW and each of the ITEMs inside of them.
.skills-display {
    width: 100vw;
    background-color: $dark-secondary;
    padding: .4rem 1rem;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        border-radius: 5px;
        background-color: $text-secondary;
        min-height: 16rem;
        min-width: 18rem;
        padding: 2rem 2rem;
        margin: 2rem;

        &--imageBox {
            align-items: center;
            margin-bottom: 2rem;
        }

        &--textBox h3{
            font-size: 2rem;
            font-style: italic;
            color: $dark-secondary;
            margin: 1.4rem 0;
        }

        &--textBox h4{
            color: $dark-secondary;
            margin: .5rem;
        }

        &--textBox h4 span{
            font-size: 1.2rem;
        }

    }
}

// Skills image controller - stop the ridiculously large png logos from covering up the screen.
.skills-image {
    max-width: 14rem;
    max-height: 6rem;
}

// Styles the github link
.bottom-container-skills {
    max-width: 100%;
    max-height: 100%;

    margin: 6rem 4rem;
    height: 25vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        color: $dark-primary;
        background-color:  $text-primary;
        margin: 2rem;
        padding: 1rem 4rem;
        border-radius: 2rem;
        font-weight: 700;
        font-size: 2rem;
        text-decoration: none;
    }

    a:hover {
        font-size: 2.1rem;
        background-color: $dark-primary;
        color: $text-primary;
    }

    &__image-box {
        max-height: 100%;
        // background-color: red;
        padding: 4rem;
        min-width: 100%;
    }

    img {
        z-index: 10;
        min-width: auto;
        max-height: 6rem;
    }
}