*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    Inspired Color Scheme from: 
    https://visme.co/blog/website-color-schemes/
*/ 

$dark-primary: #0B0C10;
$dark-secondary: #1F2833;
$neutral-color: #C5C6C7;
$text-primary: #66FCF1;
$text-secondary: #45A29E; 
$polar-primary: #ED553B;
$polar-secondary: #F6D55C;

$polar-evening: #FF9912;
$polar-sunflower: #FFD700;
$polar-autumn: #FF6103;

$color-white: #fff;

body {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

// Place holder text - for inputs 
::placeholder {
    color: $polar-autumn;
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $polar-autumn;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
   color: $polar-autumn;
}

// Place holder text for - textarea
textarea::-webkit-input-placeholder {
    color: $polar-autumn;
}
  
textarea:-moz-placeholder { /* Firefox 18- */
    color: $polar-autumn;
}
  
textarea::-moz-placeholder {  /* Firefox 19+ */
    color: $polar-autumn;
}
  
textarea:-ms-input-placeholder {
    color: $polar-autumn;
}
  
textarea::placeholder {
    color: $polar-autumn;
}

/* 
    NAV and Logo Name section 
*/

.half-break {
    border: dotted $text-primary .5rem;
    border-bottom: none;
    width: 4%;
    margin: 2rem auto; 
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 14vh;
    background-color: $dark-primary;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: $text-primary;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-links a:hover {
    padding-bottom: .5rem;
    border-bottom: 4px solid $text-primary;
}

.main-name {
    letter-spacing: 4px;
    font-size: 1.5rem;
    cursor: pointer;

    a {
        text-decoration: none;
        color: $text-primary;
    }
}

.burger {
    display: none;
}

.burger div{
    background-color: $text-primary;
    width: 25px;
    height: 3px;
    margin: 5px;

    // For the burger toggle animation
    transition: all .39s ease-in-out;
}


/*
    Media Breakpoint for NAV
*/
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        /*
        This will hide the nav bar after we have moved it left 
        and users simply won't be able to simply scroll on the x axis 
        */
    }
    // Needed the nav-link class now - not gonna do the sass nesting. Counter-practical.
    .nav-links {
        position: absolute;
        right: 0px;
        top: 12vh;
        height: 100%; 
        height: 88vh;
        
        background-color: $dark-primary;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 50%;

        // Move the nav off the screen and then hide the overflow in x axis.
        transform: translateX(100%);
        transition: transform .5s ease-out;
    }

    .burger {
        display: inline-block;
        /*
        When this breakpoint hits, it will trigger so that 
        the nav links are moved out of screen and the burger comes on
        */
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1  {
    transform: rotate(-45deg) translate(-5px, 6px);
    // transition: .4s ease-in-out;
    // managed the animations at parent
}

.toggle .line2  {
    opacity: 0;
    // transition: .2s ease-in-out;
}

.toggle .line3  {
    transform: rotate(45deg) translate(-5px, -6px);
    // transition: .4s ease-in-out;
}

.mainHeader {
    display: flex;
    justify-content: flex-start;
    padding: 4rem 2rem 1rem;

    color: $text-primary;
    background-color: $dark-secondary;

    h1 {
        border-bottom: 5px solid $text-primary;
        padding-bottom: 1rem;
        margin-left: 2.5rem;
    }
}