.top-container {
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: 
    linear-gradient(
        to right bottom,
        rgba(0,0,0,0.65),	
		rgba(0,0,0,0.65)
    ),
    url("https://images.unsplash.com/photo-1545405197-2964efafb2c6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");

    /* Set a specific height */
  	min-height: 90vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-container {
    color: $text-primary;

    .text-box {
        padding-top: 2rem;

        h3 {
            font-size: 3rem;
            padding-bottom: 1rem;
        }

        h4 {
            
        }
    }
}

.image-container {
    width: 25rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
}


.middle-container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;

    // margin: 4rem;
    height: 75vh;
    width: 100%;

    background-color: #fff;
}

.middle-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-container__text-box:nth-child(1) {
    justify-content: flex-start;
    padding-top: 6rem;
}

.middle-container__text-box:nth-child(2) {
    justify-content: flex-end;
    padding-bottom: 6rem;
}

.middle-container__text-box:nth-child(3) {
    justify-content: flex-start;
    padding-top: 6rem;
}